<!-- 
    Index Page for MoneyWeather
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MoneyWeather</title>
  <style>
  /* tell the SVG path to be a thin blue line without any area fill */
      path {
        stroke-width: 1;
        fill: none;
      }
      
      .data1 {
        stroke: steelblue;
      }

      .data2 {
        stroke: orange;
      }

      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: lightgrey;
      }

      .x.axis .minor {
        stroke-opacity: .5;
      }

      .x.axis path {
        display: none;
      }
      
      .x.axis text {
        font-size: 14;
      }

      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }

      .y.axis text {
        font-size: 14;
      }

      .y.axisRight text {
        fill: orange;
      }
      
      .y.axisLeft text {
        fill: steelblue;
      }
      #descriptionContainer{
        display: none;
      }
      #priceStats{
        display: none;
      }
      #linRegTitle{
        display: none;
      }
      </style>
</head>
<body>
  <nav class="green" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
      {% block title %}
      {% endblock %}
      </i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul><!--
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>



  <div class="container">
    <div class="row">
          <!-- Dropdown Trigger -->
          <h5>From:</h5>
          <a id="from_month_label" class='left-align dropdown-button btn green' href='#' data-activates='from_month'>Month</a>
          <!-- Dropdown Structure -->
          <ul id='from_month' class='dropdown-content'>
            <li><a href="#!">1</a></li>
            <li><a href="#!">2</a></li>
            <li><a href="#!">3</a></li>
            <li><a href="#!">4</a></li>
            <li><a href="#!">5</a></li>
            <li><a href="#!">6</a></li>
            <li><a href="#!">7</a></li>
            <li><a href="#!">8</a></li>
            <li><a href="#!">9</a></li>
            <li><a href="#!">10</a></li>
            <li><a href="#!">11</a></li>
            <li><a href="#!">12</a></li>
          </ul>

          <a id="from_year_label" class='left-align dropdown-button btn green' href='#' data-activates='from_year'>Year</a>
          <!-- Dropdown Structure -->
          <ul id='from_year' class='dropdown-content' style="height:300px!important;overflow:scroll;">
            <li><a href="#!">2000</a></li>
            <li><a href="#!">2001</a></li>
            <li><a href="#!">2002</a></li>
            <li><a href="#!">2003</a></li>
            <li><a href="#!">2004</a></li>
            <li><a href="#!">2005</a></li>
            <li><a href="#!">2006</a></li>
            <li><a href="#!">2007</a></li>
            <li><a href="#!">2008</a></li>
            <li><a href="#!">2009</a></li>
            <li><a href="#!">2010</a></li>
            <li><a href="#!">2011</a></li>
            <li><a href="#!">2012</a></li>
            <li><a href="#!">2013</a></li>
            <li><a href="#!">2014</a></li>
            <li><a href="#!">2015</a></li>
          </ul>
          <h5>To:</h5>
          <a id="to_month_label" class='left-align dropdown-button btn green' href='#' data-activates='to_month'>Month</a>
          <!-- Dropdown Structure -->
          <ul id='to_month' class='dropdown-content'>
            <li><a href="#!">1</a></li>
            <li><a href="#!">2</a></li>
            <li><a href="#!">3</a></li>
            <li><a href="#!">4</a></li>
            <li><a href="#!">5</a></li>
            <li><a href="#!">6</a></li>
            <li><a href="#!">7</a></li>
            <li><a href="#!">8</a></li>
            <li><a href="#!">9</a></li>
            <li><a href="#!">10</a></li>
            <li><a href="#!">11</a></li>
            <li><a href="#!">12</a></li>
          </ul>

          <a id="to_year_label" class='left-align dropdown-button btn green' href='#' data-activates='to_year'>Year</a>
          <!-- Dropdown Structure -->
          <ul id='to_year' class='dropdown-content'>
            <li><a href="#!">2000</a></li>
            <li><a href="#!">2001</a></li>
            <li><a href="#!">2002</a></li>
            <li><a href="#!">2003</a></li>
            <li><a href="#!">2004</a></li>
            <li><a href="#!">2005</a></li>
            <li><a href="#!">2006</a></li>
            <li><a href="#!">2007</a></li>
            <li><a href="#!">2008</a></li>
            <li><a href="#!">2009</a></li>
            <li><a href="#!">2010</a></li>
            <li><a href="#!">2011</a></li>
            <li><a href="#!">2012</a></li>
            <li><a href="#!">2013</a></li>
            <li><a href="#!">2014</a></li>
            <li><a href="#!">2015</a></li>
          </ul>
          &nbsp &nbsp &nbsp
          <a id="generateButton" class="waves-effect waves-light btn green">Generate</a>
        </div>

        <br><br>
      
      <!-- d3 graph -->
      <div class="row">
        <div id="graph" class="aGraph" style="float:left;margin-left:-50px;"></div>
      </div>
      
      <div class="row">
        <a id="meantemp" class="waves-effect waves-light btn disabled">Mean Temperature</a>
        <a id="meanprecip" class="waves-effect waves-light btn disabled">Mean Precipitation</a>
        <a id="meanhumidity" class="waves-effect waves-light btn disabled">Mean Humidity</a>
        <!-- <a id="logpricebutton" class="waves-effect waves-light btn disabled">Log(Price)</a> -->
      </div>

      </div>
  </div>

  <!-- Description Container -->
  <div id="descriptionContainer" class="container">
    <div class="col-md-4">
      <div class="row">
        <h5>Data Source: <div id="dataSource"></div></h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h5>Geographical Location: <div id="dataLocation"></div></h5>
      </div>
    </div>
    <div id="priceStats" class="col-md-4">
      <div class="row">
        <h5>Descriptive Price Statistics: </h5>
          <div id="priceMean"></div>
          <div id="priceStandardDev"></div>
          <div id="priceVariance"></div>
      </div>
      <div class="row">
        <h5 id="weatherStatsTitle">Descriptive Statistics: </h5>
          <div id="weatherMean"></div>
          <div id="weatherStandardDev"></div>
          <div id="weatherVariance"></div>
      </div>
      <div class="row">
        <h5 id="linRegTitle">Simple Linear Regression: x=weather, y=price</h5>
          <div id="linRegM"></div>
          <div id="linRegB"></div>
          <div id="linRegEquation"></div>
      </div>
    </div>
  </div>

<footer class="page-footer green">
    <div class="footer-copyright green">
      <div class="container">
      Made by <a target="_blank" class="white-text text-lighten-3" href="https://github.com/hareeshnagaraj">Hareesh Nagaraj</a>, <a target="_blank" class="white-text text-lighten-3" href="https://github.com/jpsoultanis?tab=repositories">Joe Soultanis</a>, <a target="_blank" class="white-text text-lighten-3" href="http://materializecss.com">Thomas Gill</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- External Resources -->
  <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
  <script src="{{ url_for('static', filename='js/simple_statistics.js') }}"></script>
  
  {% block UIComponent %}
  {% endblock %}

  </body>
</html>

