<!-- 
    Index Page for MoneyWeather
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MoneyWeather</title>
</head>
<body>
  <nav class="green" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Gold</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul><!--
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>



  <div class="container">
    <div class="section">

      <div class="row">


      </div>

    </div>
  </div>

<footer class="page-footer green">
    <div class="footer-copyright green">
      <div class="container">
      Made by <a target="_blank" class="white-text text-lighten-3" href="https://github.com/hareeshnagaraj">Hareesh Nagaraj</a>, <a target="_blank" class="white-text text-lighten-3" href="https://github.com/jpsoultanis?tab=repositories">Joe Soultanis</a>, <a target="_blank" class="white-text text-lighten-3" href="http://materializecss.com">Thomas Gill</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
    <!-- External Resources -->
  <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  </body>
</html>

