<!-- 
    Index Page for MoneyWeather
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MoneyWeather</title>
</head>
<body>
  <nav class="green" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"> <i class="mdi-image-brightness-4"></i></a>
      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" style="overflow:visible">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light white-text">Money<strong>Weather</strong></h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">a graphical tool to compare weather and commodity prices</h5>
        </div>
        <div class="row center">
          <!-- Dropdown Trigger -->
          <a class='dropdown-button btn green' href='#' data-activates='dropdown1'>Get Started</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/corn">Corn</a></li>
            <li><a href="#!">Silver</a></li>
            <li><a href="/gold">Gold</a></li>
            <li><a href="#!">Wheat</a></li>
            <li><a href="#!">Crude Oil</a></li>
            <li><a href="#!">Natural Gas</a></li>
            <li><a href="#!">Coffee</a></li>
            <li><a href="#!">Plastic</a></li>
          </ul>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img style="display:block!important" src="{{ url_for('static', filename='img/background1.png') }}"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-editor-insert-emoticon green-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">MoneyWeather is a tool created by Hareesh Nagaraj, Joe Soultanis, and Thomas Gill as part of our CS421 course at The College of William & Mary</p>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer green">
    <div class="footer-copyright green">
      <div class="container">
      Made by <a target="_blank" class="white-text text-lighten-3" href="https://github.com/hareeshnagaraj">Hareesh Nagaraj</a>, <a target="_blank" class="white-text text-lighten-3" href="https://github.com/jpsoultanis?tab=repositories">Joe Soultanis</a>, <a target="_blank" class="white-text text-lighten-3" href="http://materializecss.com">Thomas Gill</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
    <!-- External Resources -->
  <!-- Compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  </body>
</html>

