{% extends "commodity.html" %}
{% block title %}
Natural Gas
{% endblock %}  
<!-- DATA for iowa, illinois updated -->
<!-- Calling hte UI parameters appropriately  -->
{% block UIComponent %}
<script>
    var unit_measure = '{{unit}}';
    var source = '{{source}}';
    // var location = "{{location}}";
    console.log(location);
    $(document).ready(function(){
      GenerateUI("natural gas",{{zipList}},unit_measure,source,"{{location}}");
    })
</script>
<script src="{{ url_for('static', filename='js/commodity.js') }}">
</script>
{% endblock %}  